<section class="hero">

  <h1>{{ title }}</h1>
  <p>{{ subtitle }}</p>

  <a routerLink="/create" class="btn">Create Your Resume</a>

  <!-- Binding Example -->
  <div class="preview-box">
    <h3>Live Preview</h3>

    <input 
      type="text" 
      [(ngModel)]="userName" 
      placeholder="Enter your name"
    >

    <p>Your Resume Name: <strong>{{ userName }}</strong></p>
  </div>

</section>


<!-- for animation  -->
 <div class="animated-bg"></div>

<section class="hero">
  <!-- your existing content -->
</section>


<!--  end animetion section  -->







<!-- middle section  -->

<section class="about-section">

  <div class="about-container">

    <!-- LEFT CONTENT -->
    <div class="about-left">
      <p class="tag">OUR STORY</p>

      <h2>
        Build Your Resume With <br>
        <span>Confidence & Impact</span>
      </h2>

      <p class="desc">
        QuickCV helps you create professional, ATS-friendly resumes 
        in minutes using smart automation and modern templates.
      </p>

      <img src="home-img-2.jpg" alt="Team Image" class="main-img">
    </div>

    <!-- RIGHT CONTENT -->
    <div class="about-right">

      <div class="small-images">
        <img src="home-img-1.jpg" alt="">
        <img src="home-img-4.jpg" alt="">
      </div>

      <p class="desc">
        Our platform is designed for students and professionals who 
        want to stand out in the job market with clean and modern resumes.
      </p>

      <!-- STATS -->
      <div class="stats">
        <div>
          <h3>10K+</h3>
          <p>Resumes Created</p>
        </div>

        <div>
          <h3>5K+</h3>
          <p>Users</p>
        </div>

        <div>
          <h3>2+</h3>
          <p>Years Learning</p>
        </div>

        <div>
          <h3>100%</h3>
          <p>Free Tool</p>
        </div>
      </div>

    </div>

  </div>

</section>










<!--  end middle section  -->




<section class="founder-section">

  <h2>Meet the Founder</h2>

  <div class="founder-card">
    
    <img src="founderimg.jpg" alt="Founder Photo">

    <h3>Mr. Vivek Taware</h3>
    <p class="role">Founder & Developer</p>

    <p class="desc">
      Passionate about building AI-powered solutions to simplify resume creation 
      and help students land their dream jobs.
    </p>

  </div>

</section>

